#movieRow .col-md-3{
    height: 500px;
}
#movieRow a:hover{
    text-decoration: none;
}
img {
    height: 350px !important;
    width: 100%;
    object-fit: cover; // here
}
.marginBottom-10{
    margin-bottom:10px; 
}